services:
  postgres_db:
    image: postgres:13
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: acmdb
    ports:
      - "5433:5432"
volumes:
  pgdata: